.topCont {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* MainPage */
.MainPage {
  min-height: 100vh;
}
.mainTitle {
  font-size: 2.2rem;
  font-weight: bold;
  color: #FF89C0;
}
.mainTxt {
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}

/* NeedPage */
.blueContainer {
  background-color: rgba(30, 86, 160, 0.18);
  padding: 14px 20px 20px;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.blueTxt {
  font-size: 1.4rem;
  font-weight: bold;
  color: #1E56A0;
  margin-bottom: 15px;
}
.whiteBtn {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 0px 30px;
  color: #1E56A0;
  height: 30px;
  margin-left: 20px;
}
.mapApi {
  margin-left: 15px;
  background-color: red;
}

/* PlaceList */
.whiteCont {
  background-color: white;
  padding: 25px 25px 10px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.PlaceListContainer {
  border: 2px solid #0960BD;
  padding: 12px;  
  display: flex;
  margin-bottom: 20px;
}
.listImg {
  width: 66px;
  height: 66px;
  margin-right: 14px;
}
.placeTxtContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 230px;
}
.placeName {
  font-size: 1.1rem;
}
.placeDist {
  font-size: 1.0rem;
}
.placeAddr {
  font-size: 0.8rem;
  color: #9F9F9F;
}

/* PlaceRead */
.PlaceRead {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PlaceReadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.readImg {
  width: 130px;
  height: 130px;  
  margin-bottom: 22px;
}
.placeReadName {
  font-size: 1.4rem;
}
.needNumTxt {
  font-size: 1.5rem;
  color: #1E56A0;
  display: flex;
  align-items: center;
}
.needNumTxt > p {
  color: #FF89C0;
  font-weight: bold;
  margin-right: 8px;
}




.aflex {
  display: flex;
}